*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: unset;
    font-family:"poppins";
}
header{
    background-image:url('../images/images/day.jpeg');
    height: 300px;
    background-size: cover;
    background-position: center;
}
div.parent{
    height: 500px;
    width: 500px;
   background-color: blue;
    display: flex;
    align-items: center;

}
img.social{
    width: 20px;
    margin: 0px 10px;
}
footer{
    background-color:whitesmoke;
    color:indigo;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.2rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    
}